<section id="home">
  <div class="container-fluid d-none d-md-block">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/img/image1a.jpeg" alt="first" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/image2a.jpeg" alt="second" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/image3a.jpeg" alt="third" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/image4a.jpeg" alt="fourth" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/image5a.jpeg" alt="fifth" class="item">
      </ng-template>
    </ngb-carousel>
  </div>
</section>